@media screen and (max-width: 1400px) {
  #home {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative; /* necessário para que o menu posicionado absolutely seja relativo a ele */
    z-index: 999;
  }

  .hamburger-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .logo {
    top: 1rem;
    left: 1rem;
    position: absolute;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap; /* evita que quebre em novas linhas, a menos que a tela fique pequena */
    height: 64vh;
    margin-bottom: 0;
  }

  #contact,
  footer {
    height: 40vh;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    width: 85%;
  }

  .contact-info-upper-container {
    width: 85%;
    flex-wrap: wrap;
  }

  .btn-container {
    width: 100%;
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
